@font-face {
  font-family: "Grand9K-Pixel";
  src: url("/assets/fonts/Grand9K_Pixel.ttf") format("truetype");
}

@font-face {
  font-family: "MarioWorld";
  src: url("/assets/fonts/TypefaceMarioWorld.ttf") format("truetype");
}

@keyframes scroll {
  from {
    --titlebars: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56) 100%);
  }
  to {
    --titlebars: linear-gradient(0deg, rgba(56, 56, 56) 0%, rgba(0, 0, 0, 1) 100%);
  }
}

:root {
  --background: black;
  --background-image: url("/assets/images/background/2.png");
  /* --banner: url('../assets/images/topbar.png'); */
  --content-spacing: 5px;
  --text-color: white;
  --border: 1px solid black;
  --titlebars: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56) 100%);
}

html, body {
  margin: 0;
  box-sizing: border-box;
  font-family: Grand9K-Pixel;
}

body {
  background-image: var(--background-image);
  background-size: cover;
  text-rendering: geometricPrecision;
  color: var(--text-color);
  background-attachment: fixed;
}

#container {
  max-width: 850px;
  margin: 0 auto;
}

main {
  width: 100%;
}

.title, .sidebar-title {
  background: var(--titlebars);
  border: var(--border);
  font-size: 20px;
  text-indent: 5px;
  font-family: MarioWorld;
}

a {
  color: white;
}
a:hover {
  color: rgb(165, 165, 165);
}

nav {
  position: sticky;
  top: 20px;
}

nav ul {
  margin-left: 0px;
  padding-left: 30px;
}

.flex {
  display: flex;
  max-width:850px;
}