/* JetBrainsMonoNerdFonts */
@font-face {
  font-family: JetBrainsMonoNerdFont;
  src: url(/fonts/JetBrainsMonoNerdFont/JetBrainsMonoNerdFont-Regular.ttf);
}
@font-face {
  font-family: JetBrainsMonoNerdFont-Bold;
  src: url(/fonts/JetBrainsMonoNerdFont/JetBrainsMonoNerdFont-Bold.ttf);
}
@font-face {
  font-family: JetBrainsMonoNerdFont-Italic;
  src: url(/fonts/JetBrainsMonoNerdFont/JetBrainsMonoNerdFont-Italic.ttf);
}
@font-face {
  font-family: JetBrainsMonoNerdFont-Light;
  src: url(/fonts/JetBrainsMonoNerdFont/JetBrainsMonoNerdFont-Light.ttf);
}
@font-face {
  font-family: JetBrainsMonoNerdFont-Medium;
  src: url(/fonts/JetBrainsMonoNerdFont/JetBrainsMonoNerdFont-Medium.ttf);
}
@font-face {
  font-family: JetBrainsMonoNerdFont-SemiBold;
  src: url(/fonts/JetBrainsMonoNerdFont/JetBrainsMonoNerdFont-SemiBold.ttf);
}
@font-face {
  font-family: JetBrainsMonoNerdFont-Thin;
  src: url(/fonts/JetBrainsMonoNerdFont/JetBrainsMonoNerdFont-Thin.ttf);
}


/* Global Variables */
:root {

  /* Catppuccin Mocha Colors*/
  --Rosewater: #f5e0dc;
  --Flamingo: #f2cdcd;
  --Pink: #f5c2e7;
  --Mauve: #cba6f7;
  --Red: #f38ba8;
  --Maroon: #eba0ac;
  --Peach: #fab387;
  --Yellow: #f9e2af;
  --Green: #a6e3a1;
  --Teal: #94e2d5;
  --Sky: #89dceb;
  --Sapphire: #74c7ec;
  --Blue: #89b4fa;
  --Lavender: #b4befe;
  --Text: #cdd6f4;
  --Subtext1: #bac2de;
  --Subtext0: #a6adc8;
  --Overlay2: #9399b2;
  --Overlay1: #7f849c;
  --Overlay0	: #6c7086;
  --Surface2: #585b70;
  --Surface1: #45475a;
  --Surface0: #313244;
  --Base: #1e1e2e;
  --Mantle: #181825;
  --Crust: #11111b;

  /* Other Globals */
  --content-spacing: 5px;
}


/* General or with a special function */
.shadow-words {
  color: var(--Blue);
  text-shadow: 0px 0px 4px var(--Blue);
}


/* Top or general wrappers*/
html, body {
  background-color: var(--Base);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vh;
  margin-top: var(--content-spacing);
}


/* Header */
.header-wrapper {
  border-radius: 2em;

  background-color: var(--Surface0);
  border: solid 0.5em var(--Lavender);
  box-shadow: 0px 0px 10px var(--Blue);  
}
.header {
  text-align: center;
  padding: var(--content-spacing);
  border-radius: 1.5em;

  box-shadow: inset 0px 0px 10px var(--Blue); 
}
.header h1 {
  color: var(--Text);
  font-family: JetBrainsMonoNerdFont-Italic;
  text-shadow: 4px 4px 4px var(--Crust);
}
.header p {
  color: var(--Subtext0);
}


/* Navbar */
.navbar a {
  color: var(--Text);
  text-shadow: 0px 0px 4px var(--Blue);
  text-decoration: none;
}
.navbar a:hover {
  color:var(--Maroon);
  text-shadow: 0px 0px 4px var(--Maroon);
}